<%-include("header")-%>

<div id="box">

  <p>Hey I am Chhavi Jangid</p>
</div>

  <h1>Welcome to my ToDo-List Web App!!</h1>


<div class="box">
  <p>You are at the right place to maintain your daily work here.</p>
</div>



<%-include("footer")-%>
